<a href="https://colab.research.google.com/github/Asaikumarnayak/python/blob/main/sentiment_analysis_movie_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("/content/IMDB Dataset.csv")

In [ ]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [ ]:
data.columns

Index(['review', 'sentiment'], dtype='object')

In [ ]:
data.isnull().any()

review       False
sentiment    False
dtype: bool

In [ ]:
data.isnull().sum()

review       0
sentiment    0
dtype: int64

In [ ]:
data.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  negative
freq                                                    5     25000

In [ ]:
data['sentiment'].value_counts()

negative    25000
positive    25000
Name: sentiment, dtype: int64

In [ ]:
data.shape

(50000, 2)


## text tokenization

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelBinarizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from wordcloud import WordCloud,STOPWORDS
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize,sent_tokenize

In [ ]:
import spacy
import re,string,unicodedata
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.stem import LancasterStemmer,WordNetLemmatizer
from sklearn.linear_model import LogisticRegression,SGDClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from textblob import TextBlob
from textblob import Word
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from bs4 import BeautifulSoup

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
#Tokenization of text
tokenizers=ToktokTokenizer()
#Setting English stopwords
stopwords=nltk.corpus.stopwords.words('english')

In [ ]:
#Removing the noisy text
def noiseremoval_text(text):
  soup = BeautifulSoup(text, "html.parser")
  text = soup.get_text()
  text = re.sub('\[[^]]*\]', '', text)
  return text

In [ ]:
#Apply function on review column
data['review']=data['review'].apply(noiseremoval_text)

In [ ]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. The filming tec...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

#stemming

In [ ]:
#Stemming the text
def stemmer(text):
    ps=nltk.porter.PorterStemmer()
    text= ' '.join([ps.stem(word) for word in text.split()])
    return text

In [ ]:
#Apply function on review column
data['review']=data['review'].apply(stemmer)

In [ ]:
data.head()

                                              review sentiment
0  one of the other review ha mention that after ...  positive
1  A wonder littl production. the film techniqu i...  positive
2  I thought thi wa a wonder way to spend time on...  positive
3  basic there' a famili where a littl boy (jake)...  negative
4  petter mattei' "love in the time of money" is ...  positive

# removing stop words

In [ ]:
from nltk.corpus import stopwords  
from nltk.tokenize import word_tokenize

In [ ]:
#setting stopwords to english

stop_wr=set(stopwords.words('english'))
print(stop_wr)

{'them', 'nor', 'o', 'against', 'they', 'shan', 't', 'him', 'more', 'with', 'as', 'below', "hadn't", 'should', 'does', 'up', 'yourselves', 'than', 'themselves', 'ourselves', 'have', 'any', 'himself', 'same', "you'd", 'did', "shan't", 'between', 'from', 'mustn', 'into', 'didn', 'can', 'at', 'll', 'hasn', 'out', "you're", 'she', 'he', "she's", 'having', 'doing', 'when', 'the', 'an', 'isn', "wouldn't", 'so', 'their', "mightn't", 'but', 'those', "aren't", 'because', "you'll", 'and', 'its', 'further', 'were', 're', 'weren', 'to', 'on', 'then', 'off', 'will', 'don', 'some', 'm', 've', "that'll", 'very', 'hers', 'being', 's', 'herself', "you've", 'in', 'whom', 'ain', "needn't", 'your', "won't", "weren't", 'of', 'itself', 'only', 'now', 'couldn', "isn't", 'ma', "don't", 'where', 'before', 'which', 'hadn', 'needn', 'theirs', 'these', 'it', 'be', 'by', 'been', 'here', 'y', 'over', 'is', 'this', 'you', 'again', 'too', 'yours', 'wouldn', 'ours', 'i', 'each', 'during', "couldn't", "haven't", 'or', 'above', "it's", "doesn't", 'yourself', 'no', 'under', 'through', 'won', 'while', 'own', 'am', 'our', 'other', 'his', 'had', 'a', 'about', 'are', 'my', 'such', 'down', 'haven', 'few', 'once', 'most', 'we', 'shouldn', 'all', 'there', 'how', 'wasn', 'myself', 'until', 'that', "shouldn't", 'both', "mustn't", 'why', 'has', 'what', 'do', 'after', 'her', 'd', 'aren', 'who', "should've", 'mightn', 'for', 'me', 'just', "didn't", 'not', 'if', "hasn't", 'was', 'doesn', "wasn't"}

In [ ]:
#removing the stopwords
def removing_stopwords(text, is_lower_case=False):
    #tokenization of text
    tokenizers=ToktokTokenizer()
    #Setting English stopwords
    tokens = tokenizers.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filter_tokens = [token for token in tokens if token not in stop_wr]
    else:
        filter_tokens = [token for token in tokens if token.lower() not in stop_wr]
    filtered_text = ' '.join(filter_tokens)    
    return filtered_text

In [ ]:
#Apply function on review column
data['review']=data['review'].apply(removing_stopwords)

In [ ]:
data.head()

                                              review sentiment
0  one review ha mention watch 1 Oz episod ' hook...  positive
1  wonder littl production. film techniqu veri un...  positive
2  thought thi wa wonder way spend time hot summe...  positive
3  basic ' famili littl boy ( jake ) think ' zomb...  negative
4  petter mattei ' " love time money " visual stu...  positive

## Train test split

In [ ]:
#split the dataset  
#train dataset
train_reviews_data=data.review[:30000]

In [ ]:
#test dataset

test_reviews_data=data.review[30000:]

## Bag of words

In [ ]:
#Count vectorizer for bag of words
cv=CountVectorizer(min_df=0,max_df=1,binary=False,ngram_range=(1,3))
#transformed train reviews
cv_train=cv.fit_transform(train_reviews_data)
#transformed test reviews
cv_test=cv.transform(test_reviews_data)

print('BOW_cv_train:',cv_train.shape)
print('BOW_cv_test:',cv_test.shape)
#vocab=cv.get_feature_names()-toget feature names

BOW_cv_train: (30000, 4954557)
BOW_cv_test: (20000, 4954557)

## TF_IDF

In [ ]:
#Tfidf vectorizer
tf=TfidfVectorizer(min_df=0,max_df=1,use_idf=True,ngram_range=(1,3))
#transformed train reviews
tf_train=tf.fit_transform(train_reviews_data)
#transformed test reviews
tf_test=tf.transform(test_reviews_data)
print('Tfidf_train:',tf_train.shape)
print('Tfidf_test:',tf_test.shape)

Tfidf_train: (30000, 4954557)
Tfidf_test: (20000, 4954557)

## Lable encoding

In [ ]:
#labeling the sentient data
label=LabelBinarizer()
#transformed sentiment data
sentiment_data=label.fit_transform(data['sentiment'])
print(sentiment_data.shape)

(50000, 1)

In [ ]:
train_data=data.sentiment[:30000]

In [ ]:
test_data=data.sentiment[30000:]

In [ ]:
#training the model
logistic=LogisticRegression(penalty='l2',max_iter=500,C=1,random_state=42)
#Fitting the model for Bag of words
lr_bow=logistic.fit(cv_train,train_data)
print(lr_bow)
#Fitting the model for tfidf features
lr_tfidf=logistic.fit(tf_train,train_data)
print(lr_tfidf)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=500,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=42, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=500,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=42, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
#Predicting the model for bag of words
lr_bow_predict=logistic.predict(cv_test)
print(lr_bow_predict)

['negative' 'negative' 'negative' ... 'negative' 'positive' 'positive']

In [ ]:
##Predicting the model for tfidf features
lr_tfidf_predict=logistic.predict(tf_test)
print(lr_tfidf_predict)

['negative' 'negative' 'negative' ... 'negative' 'positive' 'positive']

In [ ]:
#Accuracy score for bag of words
lr_bow_score=accuracy_score(test_data,lr_bow_predict)
print("lr_bow_score :",lr_bow_score)

lr_bow_score : 0.74255

In [ ]:
#Accuracy score for tfidf features
lr_tfidf_score=accuracy_score(test_data,lr_tfidf_predict)
print("lr_tfidf_score :",lr_tfidf_score)

lr_tfidf_score : 0.7426